# Dependencias y módulos generados
/node_modules

# Directorio de construcción
/dist

# Archivos de configuración locales
.env.local
.env.*.local

# Archivo de respaldo de npm
npm-debug.log*

# Carpeta de archivos de respaldo
.backup/

# Archivos generados por editor/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Otros archivos y carpetas generados
.DS_Store
Thumbs.db
